<div class =  "container user-show">
  <div class =  "profile row">
    <div class = "user-image col-xs-4 col-md-4">
      <%= image_tag @user.image, :size => "130x130", class: "account-image" %>
    </div>

    <div class = "user-info col-xs-8 col-md-8">
      <h1 class = "user-name"><%= @user.name %></h1>
      <div class = "post-and-follow-info">
        <div class = "info">投稿<%= @user.posts.count %>件</div>
        <div class = "info">
          フォロワー<%= @user.followers.count %>人
        </div>
        <div class = "info"><%= @user.following.count %>人をフォロー中</div>
      </div>
      <% if @user == current_user %>
        <%= link_to "編集する", edit_user_path(@user.id), class: 'edit-btn btn-primary' %>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class: 'edit-btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<% @user_posts.each do |post| %>

    <div class = "article">
      <div class ="article-header">
        <div class = "article-header-contetns">
          <%= image_tag post.user.image, :size => "30x30", class: "account-image" %>
          <div class = "text">
            <%= link_to post.user.name, "users/#{post.user_id}", class: "user-name-link" %>
          </div>
          <%= link_to '・・・', post_path(post.id), class: "detail" %>
        </div>
      </div>
      <div class = "article-image">
        <%= image_tag post.image %>
      </div>

      <div class = "article-content">
        <div class ="article-content-first">
          <% @favorite = current_user.favorites.find_by(post_id: post.id) %>
          <% if @favorite.present? %>
            <%= link_to favorite_path(id: @favorite.id), method: :delete do %>
              <%= image_tag "color-heart.png", class: "favorite-heart unfavorite-btn" %>
            <% end %>
          <% else %>

            <%= link_to favorites_path(post_id: post), method: :post do %>
              <%= image_tag "non-color-heart.png", class: "favorite-heart favorite-btn" %>
            <% end %>
          <% end %>

        </div>
        <div class = "like-count">
          いいね！<%= post.favorites.count %>件
        </div>
        <div class = "article-content-second">
          <div class = "text content-user-name">
            <%= post.user.name %>
          </div>
          <%= post.content %>
        </div>
      </div>
    </div>
<% end %>
