<div class = "post-wrapper">
  <div class = "post-container">

    <%= form_with(model: @post, local: true, url: choose_new_or_edit ) do |form| %>
      <% if @post.errors.any? %>
        <div id="error_explanation" class = "error_explanation">
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class = "form-group">
        <%= form.text_field :title, class: "form-control",
                          placeholder: "タイトル"  %>
      </div>
      <div class = "form-group">
        <%= form.text_field :content, class: "form-control",
                          placeholder: "内容" %>
      </div>
      <div class = "form-group">
        <%= form.label :image %>
        <%= image_tag(@post.image.url, :size => "270x200") if @post.image.url %>
        <%= form.file_field :image, id: :post_image %>
      </div>

      <%= form.submit "投稿する", class: "btn submit-btn" %>
      <%= link_to'投稿一覧に戻る', posts_path %>
    <% end %>
   </div>
 </div>
