<%= form_with(model: @post, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>

        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "post_title">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>
  <div class = "post_content">
    <%= form.label :内容 %>
    <%= form.text_field :content %>
  </div>
  <div class = "post_image">
    <%= form.label :image %>
    <%= image_tag(@post.image.url) if @post.image.url %>
    <%= form.file_field :image, id: :post_image %>
  </div>

  <%= form.submit %>
<% end %>
<%= link_to'投稿一覧に戻る', posts_path %>






<% if logged_in? %>
  <%= link_to "プロフィール", user_path(current_user.id) %>
  <%= link_to "投稿一覧", posts_path %>
  <%= link_to "投稿する", new_post_path %>
  <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
<% else %>
  <%= link_to "ユーザー登録", new_user_path %>
  <%= link_to "ログイン", new_session_path %>
<% end %>
