<div class="posts">
  <% @posts.each do |post| %>

    <div class = "article">
      <div class ="article-header">
        <div class = "article-header-contetns">
          <%= link_to "users/#{post.user.id}" do %>
            <%= image_tag post.user.image, :size => "30x30", class: "account-image" %>
          <% end %>
          <div class = "text">
            <%= link_to post.user.name, "users/#{post.user_id}", class: "user-name-link" %>
          </div>
          <%= link_to '・・・', post_path(post.id), class: "detail" %>
        </div>
      </div>
      <div class = "article-image">
        <%= image_tag post.image %>
        
      </div>

      <div class = "article-content">
        <div class ="article-content-first">
          <div id="favorite_btn_<%= post.id %>">
            <%= render partial: "posts/favorite", locals: {post: post} %>
          </div>
        </div>

        <div class = "article-content-second">
          <div class = "text content-user-name">
            <%= post.user.name %>
          </div>
          <%= post.content %>
        </div>

        <div class = "article-content-third">
          <div id="comments_area_<%= post.id %>" class = "comments_area">
            <%= render partial: 'comments/index', locals: { comments: post.comments, post: post }, remote: true %>
          </div>
          <%= render partial: 'comments/form', locals: { comment: post.comments.build, post: post }, remote: true %>
        </div>
      </div>
    </div>
  <% end %>
  <div class = "pagenate-wrapper">
    <%= paginate @posts %>
  </div>
</div>
