<div class="posts">
  <% @posts.each do |post| %>

    <div class = "article">
      <div class ="article-header">
        <div class = "article-header-contetns">
          <%= link_to "users/#{post.user.id}" do %>
            <%= image_tag post.user.image, :size => "30x30", class: "account-image" %>
          <% end %>
          <div class = "text">
            <%= link_to post.user.name, "users/#{post.user_id}", class: "user-name-link" %>
          </div>
          <%= link_to '・・・', post_path(post.id), class: "detail" %>
        </div>
      </div>
      <div class = "article-image">
        <%= image_tag post.image %>
      </div>

      <div class = "article-content">
        <div class ="article-content-first">
          <% @favorite = current_user.favorites.find_by(post_id: post.id) %>
          <% if @favorite.present? %>
            <%= link_to favorite_path(id: @favorite.id), method: :delete do %>
              <%= image_tag "color-heart.png", class: "favorite-heart unfavorite-btn" %>
            <% end %>
          <% else %>
            <%= link_to favorites_path(post_id: post), method: :post do %>
              <%= image_tag "non-color-heart.png", class: "favorite-heart favorite-btn" %>
            <% end %>
          <% end %>
        </div>
        <div class = "like-count">
          いいね！<%= post.favorites.count %>件
        </div>

        <div class = "article-content-second">
          <div class = "text content-user-name">
            <%= post.user.name %>
          </div>
          <%= post.content %>
        </div>

        <div class = "article-content-third">
          <div id="comments_area" class = "comments_area">
            <%= render partial: 'comments/index', locals: { comments: post.comments, post: post } %>
          </div>
          <%= render partial: 'comments/form', locals: { comment: post.comments.build, post: post } %>
        </div>
      </div>
    </div>
  <% end %>
  <div class = "pagenate-wrapper">
    <%= paginate @posts %>
  </div>
</div>
