<!DOCTYPE html>
<html>
  <head>
    <title>Clonegram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_page?(new_user_path) || current_page?("/") || current_page?(new_session_path) %>

      <% elsif logged_in? %>
        <%= link_to posts_path do %>
          <%= image_tag "camera.png", size:( 6 * 6 ), class: "logo-image" %>
        <% end %>

        <%= link_to user_path(current_user.id) do %>
          <%= image_tag "person.png", size:( 5 * 5 ), class: "profile-image" %>
        <% end %>

        <%= link_to users_path do %>
          <%= image_tag "search.png", size:( 5 * 5 ), class: "search-image" %>
        <% end %>

        <%= link_to new_post_path do %>
          <%= image_tag "post.png", size:( 5 * 5 ), class: "post-image" %>
        <% end %>

      <% end %>
    </header>

    <%= yield %>

    <footer>
      <div class = "footer-menu">
        <ul>
          <li><%= link_to "CLONEGRAMについて", ("#") %></li>
          <li><%= link_to "サポート", ("#") %></li>
          <li><%= link_to "プレス", ("#") %></li>
          <li><%= link_to "API", ("#") %></li>
          <li><%= link_to "求人", ("#") %></li>
          <li><%= link_to "プライバシー", ("#") %></li>
          <li><%= link_to "利用規約", ("#") %></li>
          <li><%= link_to "ディレクトリ", ("#") %></li>
          <li><%= link_to "プロフィール", ("#") %></li>
          <li><%= link_to "ハッシュタグ", ("#") %></li>
          <li><%= link_to "言語", ("#") %></li>

        </ul>
        <p class = "copyright">© 2018 CLONEGRAM</p>
      </div>

    </footer>
  </body>
</html>
