<!DOCTYPE html>
<html>
  <head>
    <title>Clonegram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_page?(new_user_path) || current_page?("/") || current_page?(new_session_path) %>
      <% elsif logged_in? %>
        <div class = "header-wrapper">
          <div class = "container">

            <ul class = "row">
              <div class ="header-left col-xs-6 col-sm-6 col-md-6">
                <li>
                  <%= link_to posts_path do %>
                    <%= image_tag "camera.png", class: "header-logo" %>
                  <% end %>
                </li>
                <li>
                  <div class = "length-line"></div>
                </li>
                <li>
                  <%= link_to posts_path do %>
                    <h1 class ="header-title">Clonegram</h1>
                  <% end %>
                </li>
              </div>

              <div class = "header-right col-xs-6 col-sm-6 col-md-6">
                <li class = "menu-icon">
                  <%= link_to new_post_path do %>
                    <%= image_tag "post.png", class: "header-image" %>
                  <% end %>
                </li>
                <li class = "menu-icon">
                  <%= link_to user_path(current_user.id) do %>
                    <%= image_tag "person.png", class: "header-image" %>
                  <% end %>
                </li>
                <li class = "menu-icon">
                  <%= link_to "/favorites/#{current_user.id}" do %>
                    <%= image_tag "heart.png", class: "header-image" %>
                  <% end %>
                </li>
                <li class = "menu-icon">
                  <%= link_to users_path do %>
                    <%= image_tag "search.png", class: "header-image" %>
                  <% end %>
                </li>

              </div>
            </ul>

          </div>
        </div>
      <% end %>

    </header>

    <%= yield %>

    <footer>
      <div class = "footer-menu">
        <ul>
          <li><%= link_to "CLONEGRAMについて", ("#") %></li>
          <li><%= link_to "サポート", ("#") %></li>
          <li><%= link_to "プレス", ("#") %></li>
          <li><%= link_to "API", ("#") %></li>
          <li><%= link_to "求人", ("#") %></li>
          <li><%= link_to "プライバシー", ("#") %></li>
          <li><%= link_to "利用規約", ("#") %></li>
          <li><%= link_to "ディレクトリ", ("#") %></li>
          <li><%= link_to "プロフィール", ("#") %></li>
          <li><%= link_to "ハッシュタグ", ("#") %></li>
          <li><%= link_to "言語", ("#") %></li>

        </ul>
        <p class = "copyright">© 2018 CLONEGRAM</p>
      </div>

    </footer>
  </body>
</html>
